#title{
  text-align: center;
}

#month{
  text-align: center;
  font-size: 9pt;
  }
#course{
  text-align: right;
  font-size: 9pt;
  margin-right: 20px;
}
#name{
  text-align: right;
  font-size: 9pt;
  margin-bottom: 5px;
  margin-right: 20px;
}

table,td,th{
  border: solid 1px;
  border-collapse: collapse;
  font-size: 10pt;
}
th{
  border-top: 3px;
  border-bottom: 3px;
  border-style: double !important;
}
table{
  margin: 0 auto;
  text-align: center;
}
#seal{
  margin-left: 50%;
}
